

          <div id="editProfile" class="modal">
                <div class="modal-content">
                  <h4>Edit Profile</h4>
                </div>
                <div id="editProfileForm" class="row">
                         <div class="col s12 m8 offset-m2">
                            
              <div class="form-group bmd-form-group">
                <label class="bmd-label-floating">Name</label>
                <input type="text" class="form-control" placeholder="Saurav Kumar">
              </div>
              <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating">Primary Occupation</label>
                    <input type="text" class="form-control" placeholder="Web Designer">
                  </div>
                  <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Secondary Occupation</label>
                        <input type="text" class="form-control" placeholder="Android Developer">
                      </div>
                      <div class="form-group bmd-form-group">
                                
                            <label for="exampleMessage" class="bmd-label-floating">About Me</label>
                            <textarea type="email" class="materialize-textarea" rows="4" id="exampleMessage"></textarea>
                    </div>
                    <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">Skill 1 Title</label>
                            <input type="text" class="form-control" placeholder="Designer">
                          </div>
                          <div class="form-group bmd-form-group">
                                
                                <label for="exampleMessage" class="bmd-label-floating">Skill 1 Description</label>
                                <textarea type="email" class="materialize-textarea" rows="4" id="exampleMessage"></textarea>
                        </div>
                        <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Skill 2 Title</label>
                                <input type="text" class="form-control" placeholder="Designer">
                              </div>
                              <div class="form-group bmd-form-group">
                                    
                                    <label for="exampleMessage" class="bmd-label-floating">Skill 2 Description</label>
                                    <textarea type="email" class="materialize-textarea" rows="4" id="exampleMessage"></textarea>
                            </div>
                             <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Skill 3 Title</label>
                                    <input type="text" class="form-control" placeholder="Designer">
                                  </div>
                                  <div class="form-group bmd-form-group">
                                        
                                        <label for="exampleMessage" class="bmd-label-floating">Skill 3 Description</label>
                                        <textarea type="email" class="materialize-textarea" rows="4" id="exampleMessage"></textarea>
                                </div>
                                <div class="form-group bmd-form-group">
                                        <label class="bmd-label-floating">Message Title</label>
                                        <input type="text" class="form-control" placeholder="Message">
                                      </div>
                                      <div class="form-group bmd-form-group">
                                            
                                            <label for="exampleMessage" class="bmd-label-floating">Message Description</label>
                                            <textarea type="email" class="materialize-textarea" rows="4" id="exampleMessage"></textarea>
                                    </div>
                      
              
              <div class="file-field input-field">
                    <div class="btn">
                      <span>Image</span>
                      <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                            <input type="file" name="upload_image" id="upload_image"  />
                            <br />
                            <div id="uploaded_image"></div>
                    </div>
                  </div>  
              </div>
              </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>

              </div>