 <div class="pt30">
                        <div id="chooseProjectVue" class="row">
                            <div class="input-field col s12  center maxW300 mg30H pink-text">
                                    <select v-model="SelectedProjectId">
                                      <option value="" disabled selected>Choose your project</option>
                                       <option v-for ="(item, idx) in Projects" v-bind:value="item.id">{{item.name}}</option>
   
                                    </select>
                                    <label>Select Project</label>
                              </div>
                                </div>
                        <ul id="tabs-swipe-demo" class="tabs">
                            <li class="tab col s3"><a href="#test-swipe-1">Activity</a></li>
                            <li class="tab col s3"><a class="active" href="#test-swipe-2">Goal</a></li>
                             <li class="tab col s3"><a href="#test-swipe-3">Event</a></li>
                        </ul>
                    </div>

  <script>
    console.log("Global USer");
    console.log(global_user);
var chooseProjectVue =  new Vue({
    el:'#chooseProjectVue',
    data:
    {
        SelectedProjectId: '',
        Projects: global_user.projects // declare in _globalVar.cshtml 
    }
    ,
    methods: {
             
    }

}); // end chooseProjectVue



  </script>