 <div class="pt30">
                        <div class="row">
                            <div class="input-field col s12  center maxW300 mg30H pink-text">
                                    <select>
                                      <option value="" disabled selected>Choose your project</option>
                                      <option value="1">Difpedia</option>
                                      <option value="2">LoIndia</option>
                                      <option value="3">IotHub</option>
                                    </select>
                                    <label>Select Project</label>
                                  </div>
                                </div>
                        <ul id="tabs-swipe-demo" class="tabs">
                            <li class="tab col s3"><a href="#test-swipe-1">Activity</a></li>
                            <li class="tab col s3"><a class="active" href="#test-swipe-2">Goal</a></li>
                             <li class="tab col s3"><a href="#test-swipe-3">Event</a></li>
                        </ul>
                    </div>