
    <div id="index-banner" class="parallax-container indexbannerGrad">

        <div class="container marginBig ">
            <div class="row">
                <div class="col m8 l6 s12">
                    <h1 class="title navHeader headerTitle center">TEAMWCRH</h1>
                    <h4 class=" navHeader subheaderTitle center">We Can Reach Height</h4>
                    <br>

                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
        <div class="parallax"><img src="img/img1.jpg" alt="Unsplashed background img 1"></div>
    </div>


    <script>
        $(document).ready(function () {
            $('.parallax').parallax();
        });
    </script>