
    <div class="navbar-fixed navflow">

        <nav class="bgTransparent zeroBoxShadow zindexHigh">
            <div class="nav-wrapper">
                <div class="brand-logo header__logo-box">
                    <img src="img/wcrh-white.png" alt="Logo" class="header__logo" />
                </div>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down rightMargin">
                    <li><a href="sass.html" class="socialMenuIcon"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="badges.html" class="socialMenuIcon"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="collapsible.html" class="socialMenuIcon"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#" onclick="logout()" class="socialMenuIcon modal-trigger"><i class="fas fa-user"></i> Sign Out</a></li>
                </ul>
            </div>
        </nav>
    </div>
      
      <partial name="~/Views/Profile/_sidenav.cshtml" />



    <script>

        $(document).ready(function () {

            $(window).scroll(function () { // check if scroll event happened

                if ($(document).scrollTop() > 300) { // check if user scrolled more than 50 from top of the browser window
                    // if yes, then change the color of class "bgTransparent" to white (#f8f8f8)        
                    $(".bgTransparent").addClass("bgNotTransparent");
                } else {
                    $(".bgTransparent").removeClass("bgNotTransparent");
                }
            });
        });

        function logout(){

      localStorage.removeItem("Token");
      localStorage.removeItem("UserResource");
       window.location.replace("/");
    }

        
        
        
    </script>