<ul class="sidenav" id="mobile-demo">
        <li>
            <div class="user-view center sideBarMenu padding25">

                <a href="#user"><img class="circle marginAuto" src="img/guest.png"></a>
                <a href="#name"><span class="white-text name">Welcome, Saurav Kumar</span></a>
                <a href="#login" class="btn waves-effect waves-light pink modal-trigger  signInSideBar"><i class="fas fa-user"></i>
                    Sign Out</a>
            </div>
        </li>

        <li><a href="#editProfile" class="sideBarLink modal-trigger">Setting</a></li>
    </ul>

    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav({
                menuWidth: 300,
                closeOnClick: true, // <--- CHECK THIS OUT
            });
        });
    </script>