<div id="about" class="section text-center section scrollspy">
                <div class="row">
                  <div class="col l8 offset-l2">
                    <h2 class="title">What is teamWCRH ?</h2>
                    <h5 class="description textP">It is the passionate team working in any project under the leadership or guidance of Saurav Kumar , Here WCRH stands for <b>W</b>e <b>C</b>an <b>R</b>ich <b>H</b>eight and we beleive that <i> No idea is small or big , we are the one who really converted it to huge success , Quitting any project in teamWCRH is never an option .</i></h5>
                  </div>
                  </div>

                <div class="features ">
                  <div class="row">
                    <div class="col m8 offset-m2 l4">
                      <div class="info">
                        <div class="icon icon-info "><i class="material-icons red-text WebIcon">
                                people
                                </i>
                        </div>
                        <h4 class="info-title">Team Work</h4>
                        <p class="pText">Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                      </div>
                    </div>
                    <div class="col m8 offset-m2 l4">
                      <div class="info">
                        <div class="icon icon-success">
                                <i class="material-icons green-text WebIcon">my_location</i>
                        </div>
                        <h4 class="info-title">Goal Oriented</h4>
                        <p class="pText">Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                      </div>
                    </div>
                    <div class="col m8 offset-m2 l4">
                      <div class="info">
                        <div class="icon icon-danger">
                                <i class="material-icons pink-text WebIcon">
                                        navigation
                                        </i>
                        </div>
                        <h4 class="info-title">Common Vission</h4>
                        <p class="pText">Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                      </div>
                    </div>
                  </div>
                </div>
                </div>