
              <div id="project" class="section section-contacts scrollspy">
                  <div class="row">
                    <div class="center">
                      <h2 class="text-center title">Our Project</h2>
                      <div class="col m8 offset-m2 l4">
                          <h4 class="header">LoIndia</h4>
                          <div class="card horizontal">
                              <div class="card-image">
                                <img src="/img/loindia.png" class="ProjectImg">
                              </div>
                              <div class="card-stacked">
                                <div class="card-content">
                                  <p>I am a very simple card. I am good at containing small bits of information.</p>
                                </div>
                                <div class="card-action">
                                   <a href="#" class="btn btn-primary blue">Visit Site</a>
                                </div>
                              </div>
                            </div>
                      </div>
                        <div class="col m8 offset-m2 l4">
                            <h4 class="header">Difpedia</h4>
                            <div class="card horizontal">
                              <div class="card-image">
                                <img src="/img/difpedia.png" class="ProjectImg">
                              </div>
                              <div class="card-stacked">
                                <div class="card-content">
                                  <p>I am a very simple card. I am good at containing small bits of information.</p>
                                </div>
                                <div class="card-action">
                                  <a href="#" class="btn btn-primary pink">Visit Site</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col m8 offset-m2 l4">
                              <h4 class="header">Iot Hub</h4>
                              <div class="card horizontal">
                                <div class="card-image">
                                  <img src="img/iotHub.png" class="ProjectImg">
                                </div>
                                <div class="card-stacked">
                                  <div class="card-content">
                                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                                  </div>
                                  <div class="card-action">
                                     <a href="#" class="btn btn-primary red">Visit Site</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                     </div>
                  </div>
             </div>