@{
    ViewData["Title"] = "Home Page";
}

<partial name="~/Views/Home/_navbar.cshtml" />


      <div class="main main-raised">
            <div class="container containerEdited">
                <partial name="~/Views/Home/_about.cshtml" />
                <partial name="~/Views/Home/_team.cshtml" />
                <partial name="~/Views/Home/_project.cshtml" />
                <partial name="~/Views/Home/_join.cshtml" />
                <partial name="~/Views/Home/_signInModal.cshtml" />
                
                </div>
         </div>